
.center-body-container{
    position: absolute;
    width: 55vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.center-body-container::-webkit-scrollbar {
    width: 8px; 
}

.center-body-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    display: none;

}

.center-body-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    display: none;

}

.center-body-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.center-body{
    position: relative;
    width: 100%;
    height: 100%;
}
.center-body .card .container img{
    width: 90%;
    left: 10%;
    height: 100%;
    position: relative;
}
.center-body .card{
    max-height: 130px;
    border: none;
}
.center-body .card .container h5{
    font-size: 1.2rem;
}
.center-body .card .container p{
    font-size: .8rem;
}
.container div .bi-list{
    display: none;
}
.center-body .main-container{
    position: relative;
    width: 100%;
    overflow-y: hidden;
    transition: .5s;
}

@media screen and (max-width: 750px){
    .center-header .container button{
        transform: translateX(150%);
    }
    .center-body .card{
        max-height: 180px;
    }
    .center-header .container div button{
        flex: 1;
    }
    .center-header .container div .bi-list{
        flex: 2;
    }
}
@media screen and (max-width: 850px){
    .center-body .card{
        max-height: 180px;
    }
    .center-body .card .container h5{
        font-size: 1.4rem;
    }
    .center-body .card .container p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 900px){
    .container div .bi-list{
        display: block;
    }
}
@media screen and (min-width: 900px){
    .center-body .card{
        max-height: 189px;
    }
    .center-body .card .container h5{
        font-size: 1.7rem;
    }
    .center-body .card .container p{
        font-size: 1rem;
    }
    .container-header .container div .bi-sun{
        margin-left: 3rem;
        margin-right: 1rem;
    }
}
