

.center-body .card .container img{
    width: 90%;
    left: 10%;
    height: 100%;
    position: relative;
}
.center-body .card{
    max-height: 130px;
    border: none;
}
.center-body .card .container h5{
    font-size: 1.2rem;
}
.center-body .card .container p{
    font-size: .8rem;
}
.container div .bi-list{
    display: none;
}
.main-container{
    overflow-y: scroll;
    position: relative;
    
    width: 100%;
}
.button-action{
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    cursor: pointer;
    border: none;
    color: var(--color-primary);

}
@media screen and (max-width: 750px){
    .center-header .container button{
        transform: translateX(150%);
    }
    .center-body .card{
        max-height: 180px;
    }
    .center-header .container div button{
        flex: 1;
    }
    .center-header .container div .bi-list{
        flex: 2;
    }
}
@media screen and (max-width: 850px){
    .center-body .card{
        max-height: 180px;
    }
    .center-body .card .container h5{
        font-size: 1.4rem;
    }
    .center-body .card .container p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 900px){
    .container div .bi-list{
        display: block;
    }
}
@media screen and (min-width: 900px){
    .center-body .card{
        max-height: 189px;
    }
    .center-body .card .container h5{
        font-size: 1.7rem;
    }
    .center-body .card .container p{
        font-size: 1rem;
    }
    .container-header .container div .bi-sun{
        margin-left: 3rem;
        margin-right: 1rem;
    }
}
